@model wardrobe.Models.Wardrobe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wardrobe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessorieID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessorieID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bottom.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bottom.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shoe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shoe.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Top.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Top.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WardrobeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
