@model IEnumerable<wardrobe.Models.Wardrobe>

@{
    ViewBag.Title = "Index";
}

<h2>Outfit of the Day</h2>
<h3>#OOTD</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessorieID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accessory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bottom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shoe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Top)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4" id="reviewIndex">
            <div class="thumbnail">
                @Html.DisplayFor(modelItem => item.Top.Name)
                @if (item.Top.Name == "Feathered Tee")
                {
                    <p><img src="~/Content/photos/tops/feathertee.jpg" /></p>
                }
            </div>
            <div class="thumbnail">
                @Html.DisplayFor(modelItem => item.Bottom.Name)
                @if (item.Bottom.Name == "Blacked-Out Super Skinny Jean")
                {
                    <p><img src="~/Content/photos/bottoms/blackskinnyjeans.jpg" /></p>
                }
            </div>
            <div class="thumbnail">
                @Html.DisplayFor(modelItem => item.Shoe.Name)
                @if (item.Shoe.Name == "Killer Stilletto")
                {
                    <p><img src="~/Content/photos/shoes/stillettoheel.jpg" /></p>
                }
            </div>
            <div class="thumbnail">
                @Html.DisplayFor(modelItem => item.Accessory.Name)
                @if (item.Accessory.Name == "Ray Ban Aviators")
                {
                    <p><img src="~/Content/photos/accessories/raybanavs.jpg" /></p>
                }
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = item.WardrobeID })
            @Html.ActionLink("Details", "Details", new { id = item.WardrobeID })
            @Html.ActionLink("Delete", "Delete", new { id = item.WardrobeID })
        </div>
    </div>
}






